@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;
  color: #212121;
  font-family: "Fredoka", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-b-header.is-open .e-b-header-background {
  left: 0;
}
.e-b-header-button-wrapper {
  margin-left: auto;
}
.e-b-header-icon {
  display: none;
}

.e-b-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-b-navigation-list.is-open {
  right: 0;
}
.e-b-header-icon-menu {
  display: block;
}

.e-b-header-icon-button.is-open .e-b-header-icon-menu {
  display: none;
}

.e-b-header-icon-button.is-open .e-b-header-icon-close {
  display: block;
}

.e-b-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 56px;
  background: #ff6408;
}

.e-b-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #ff6408;
}
.e-b-header.is-open .e-b-header-background {
  left: 0;
}
.e-b-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-b-header-icon-menu {
  display: block;
}

.e-b-header-icon-button.is-open .e-b-header-icon-menu {
  display: none;
}

.e-b-header-icon-button.is-open .e-b-header-icon-close {
  display: block;
}

.e-b-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.e-b-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 100px 32px;
  gap: 28px;
  background: #ff6408;
}

.e-b-navigation-list.is-open {
  right: 0;
}

.e-b-navigation-link {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
}

.e-b-navigation-link:hover,
.e-b-navigatioт-link:focus {
  color: #faba2b;
}

.e-b-header.is-open {
  background-color: transparent;
}

.e-b-navigation-img {
  display: none;
}

@media screen and (min-width: 1210px) {
  .e-b-navigation-img {
    display: flex;
    margin-right: 235px;
  }
  .e-b-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .e-b-header {
    width: 100%;
    height: 68px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .e-b-header-background {
  }
  .e-b-header-icon-button {
    display: none;
  }
  .e-b-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-b-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 42 px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .e-b-navigation-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;

    text-decoration: none;
  }

  .e-b-navigation-link:hover,
  .e-b-navigation-link:focus {
    color: #ffffff;
  }

  .e-b-navigation-item-desk {
    display: none;
  }
}
.e-b-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_section.png");
  margin: auto;
}
.e-b-home-container {
  width: 375px;
  padding: 303px 16px 0px;
  margin: auto;
}

.e-b-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.e-b-home-title {
  width: 343px;
}

.e-b-home-text {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 18px;

  text-align: center;
  padding: 40px 10px 0;
  color: #5a0064;
}

@media screen and (min-width: 1210px) {
  .e-b-home {
    width: 1440px;
    height: 868px;
    background-image: url("/img/home/Frame\ 320.png");
  }
  .e-b-home-container {
    width: 1440px;
    padding: 96px 449px 0px;
  }
  .e-b-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .e-b-home-title {
    width: 542px;
  }

  .e-b-home-text {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    padding: 40px 45px 0;
  }
}
.e-b-about {
  margin: auto;
  width: 375px;
  height: 1122px;
  margin-top: -19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/Frame\ 321.png");
}
.e-b-about-container {
  width: 375px;
  padding: 60px 16px 0px;
  margin: auto;
}
.e-b-about-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #5a0064;
}
.e-b-about-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 24px;
}

.e-b-about-text-bold {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
.e-b-uniqueness-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 288px;
}
.e-b-uniqueness-img {
  width: 40px;
  height: 40px;
}
.e-b-uniqueness-item {
  display: flex;
  align-items: start;
  gap: 16px;
}
.e-b-uniqueness-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1210px) {
  .e-b-about {
    margin: auto;
    width: 1440px;
    height: 982px;
    margin-top: -90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/about/Frame\ 320\ \(2\).png");
  }
  .e-b-about-container {
    width: 1440px;
    padding: 355px 108px 0px 628px;
    margin: auto;
  }
  .e-b-about-title {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;
  }
  .e-b-about-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 24px;
  }

  .e-b-about-text-bold {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .e-b-uniqueness-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    width: auto;
  }
  .e-b-uniqueness-img {
    width: 40px;
    height: 40px;
  }
  .e-b-uniqueness-item {
    display: flex;
    align-items: start;
    gap: 16px;
    width: 288px;
  }
  .e-b-uniqueness-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.e-b-why {
  margin: auto;
  width: 375px;
  height: 1529px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  margin-top: -30px;
  background-image: url("/img/why/Frame\ 325.png");
}

.e-b-why-container {
  width: 375px;
  margin: auto;
  padding: 84px 43.5px 0;
}
.e-b-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.e-b-why-item {
  width: 288px;
  height: 306px;
  padding: 0 24px;
}
.e-b-why-text-bold {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #5a0064;
  padding: 0px 0 8px;
}
.e-b-why-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.e-b-why-img {
  margin: auto;
}
@media screen and (min-width: 1210px) {
  .e-b-why {
    margin: auto;
    width: 1440px;
    height: 778px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    margin-top: -118px;
    background-image: url("/img/why/Frame\ 326.png");
  }

  .e-b-why-container {
    width: 1440px;
    margin: auto;
    padding: 150px 108px 0;
  }
  .e-b-why-list {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .e-b-why-item {
    width: 288px;
    height: 312px;
    padding: 0 0px;
  }

  .e-b-why-text-bold {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .e-b-why-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .e-b-why-itemq {
    margin-top: 50px;
  }
}

.e-b-how {
  margin: auto;
  width: 375px;
  height: 1694px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/how/Frame\ 324.png");
  position: relative;
  z-index: -1;
  margin-top: -20px;
}
.e-b-how-container {
  margin: auto;
  width: 375px;
  padding: 60px 75px 0;
}
.e-b-how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.e-b-how-item {
  width: 225px;
  height: 282px;
  gap: 24px;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-radius: 12px;

  background: #fff3e6;
  box-shadow: 12px 12px 20px 0px #0000001a;
}

.e-b-how-img {
  margin: 0 auto;
}

.e-b-how-text-bold {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0 8px;
}

.e-b-how-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1210px) {
  .e-b-how {
    margin: auto;
    width: 1440px;
    height: 656px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/how//bg_how_to_play.png");

    margin-top: -112px;
  }
  .e-b-how-container {
    margin: auto;
    width: 1440px;
    padding: 104px 108px 0;
  }
  .e-b-how-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .e-b-how-item {
    width: 225px;
    height: 282px;
    gap: 24px;
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-radius: 12px;

    background: #fff3e6;
    box-shadow: 12px 12px 20px 0px #0000001a;
  }

  .e-b-how-img {
    margin: 0 auto;
  }

  .e-b-how-text-bold {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .e-b-how-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-b-characters {
  margin: auto;
  width: 375px;
  height: 1566px;
  margin-top: -26px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/characters/Frame\ 321\ \(1\).png");
}
.e-b-characters-container {
  padding: 84px 16px 0;
  margin: auto;
  width: 375px;
}
.e-b-characters-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 27.5px;
  border-radius: 12px;
  background: #e6efff;
  box-shadow: 12px 12px 20px 0px #0000001a;
}
.e-b-characters-item {
  height: 187px;
}
.e-b-characters-img {
  margin: 0 auto;
}

.e-b-characters-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 24px;
}

@media screen and (min-width: 1210px) {
  .e-b-characters {
    margin: auto;
    width: 1440px;
    height: 1059px;
    margin-top: -80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/characters/Frame\ 323\ \(1\).png");
  }
  .e-b-characters-container {
    padding: 134px 108px 0;
    margin: auto;
    width: 1440px;
  }
  .e-b-characters-list {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 64px;
    padding-right: 80px;
    padding-bottom: 64px;
    padding-left: 80px;
    border-radius: 12px;
    gap: 100px;
    row-gap: 80px;
  }
  .e-b-characters-item {
    height: auto;
    width: 288px;
  }
  .e-b-characters-img {
    margin: 0 auto;
  }

  .e-b-characters-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 24px;
  }
}

.e-b-reviews {
  margin: auto;
  width: 375px;
  height: 1311px;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: -1;
  background-image: url("/img/reviews/Frame\ 329.png");
}
.e-b-reviews-container {
  margin: auto;
  padding: 75px 43.5px 0;
  width: 375px;
}
.e-b-reviews-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.e-b-reviews-item {
  width: 288px;
  height: 198px;
  gap: 8px;
  border-radius: 12px;
  padding: 24px;
  background: #fff3e6;
  box-shadow: 12px 12px 20px 0px #0000001a;
}
.e-b-reviews-img {
  margin: 0 auto;
}
.e-b-reviews-text-bold {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0 8px;
}

.e-b-reviews-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1210px) {
  .e-b-reviews {
    margin: auto;
    width: 1440px;
    height: 661px;
    margin-top: -100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/reviews/Frame\ 330.png");
  }
  .e-b-reviews-container {
    margin: auto;
    padding: 140px 108px 0;
    width: 1440px;
  }
  .e-b-reviews-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .e-b-reviews-item {
    width: 288px;
    height: 228px;
    gap: 8px;
    border-radius: 12px;
    padding: 24px;
    background: #fff3e6;
    box-shadow: 12px 12px 20px 0px #0000001a;
  }
  .e-b-reviews-img {
    margin: 0 auto;
  }
  .e-b-reviews-text-bold {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .e-b-reviews-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .e-b-reviews-item-two {
    display: none;
  }
}

.e-b-faq {
  margin: auto;
  width: 375px;
  height: 844px;
  margin-top: -10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/bg_faq.png");
  position: relative;
  z-index: -2;
}
.e-b-faq-container {
  padding: 70px 16px 0px;
  width: 375px;
  margin: auto;
}
.e-b-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.e-b-faq-item {
  box-shadow: 8px 8px 20px 0px #0000001a;

  border-radius: 20px;
  background: #e6efff;
}

.e-b-faq-question {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px;
  background: #d2ccff;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.e-b-faq-answer {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 16px;
  height: 80px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1210px) {
  .e-b-faq {
    margin: auto;
    width: 1440px;
    height: 625px;
    margin-top: -60px;
    margin-bottom: -0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url("/img/bg_FAQ\ \(1\).png");
    position: relative;
    z-index: -2;
  }
  .e-b-faq-container {
    padding: 110px 108px 0px;
    width: 1440px;
    margin: auto;
  }
  .e-b-faq-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .e-b-faq-item {
    width: 600px;
    height: 136px;
    border-radius: 20px;
  }

  .e-b-faq-question {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .e-b-faq-answer {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 16px;
    height: 80px;
    display: flex;
    align-items: center;
  }
}
.e-b-gallery {
  margin: auto;
  width: 375px;
  height: 547px;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/Frame\ 327.png");
}
.e-b-gallery-container {
  width: 375px;
  margin: auto;
  padding: 70px 16px 0;
}
.e-b-gallery-list {
  width: auto;
  padding-top: 40px;
  margin: auto;
}

.e-b-gallery-item {
  width: 240px;
  height: 320px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.e-b-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1210px) {
  .e-b-gallery {
    margin: auto;
    width: 1440px;
    height: 936px;
    margin-top: -50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/gallery/Frame\ 328.png");
  }
  .e-b-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 130px 0 0;
  }
  .e-b-gallery-item {
    width: 396px;
    height: 528px;

    margin: 0 12px;
  }

  .e-b-gallery-list {
    padding-top: 76px;
  }
}

.e-b-features {
  margin: auto;
  width: 375px;
  height: 426px;
  background-image: url("/img/Frame\ 332\ \(1\).png");
  position: relative;
  z-index: 1;
  margin-top: -20px;
  margin-bottom: -30px;
}
.e-b-features-container {
  width: 375px;
  margin: auto;
  padding: 105px 40px 0px;
}

.e-b-features-text-bold {
  color: #fed427;
  font-weight: 700;
  font-size: 18px;

  text-align: center;
}

.e-b-features-text {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #fcf3d4;
  padding-top: 8px;
}

@media screen and (min-width: 1210px) {
  .e-b-features {
    margin: auto;
    width: 1440px;
    height: 568px;
    background-image: url("/img/Frame\ 333.png");
    position: relative;
    z-index: 1;
    margin-top: -80px;
    margin-bottom: -55px;
  }
  .e-b-features-container {
    width: 1440px;
    margin: auto;
    padding: 190px 488px 0px;
  }

  .e-b-features-text-bold {
    font-size: 28px;

    text-align: center;
  }

  .e-b-features-text {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-b-policy-terms-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.e-b-policy-terms-container h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #212121;
  padding-bottom: 20px;
}
.e-b-policy-terms-container h2 {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.e-b-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.e-b-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1210px) {
  .e-b-policy-terms-container {
    padding: 188px 212px 60px;
    width: 1440px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .e-b-policy-terms-container h1 {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .e-b-policy-terms-container h2 {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

    margin-top: 32px;
    padding-bottom: 16px;
  }
}

.e-b-footer-container {
  background: #ff6408;

  width: 375px;
  padding: 50px 0 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #ffffff;
}

.e-b-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.e-b-footer-text {
  text-decoration: none;
  color: inherit;
}

.e-b-footer-copyright {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1210px) {
  .e-b-footer-container {
    width: 1440px;
    padding: 60px 108px;
    display: flex;

    align-items: stretch;
    gap: 50px;
  }

  .e-b-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 32px;
  }

  .e-b-footer-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
  }

  .e-b-footer-copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-b-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;
  background: #ffffff;
  z-index: 1000;
  display: none;
}

.e-b-cookie-popup-text-two {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #212121;
}

.e-b-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.e-b-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #232323;
  width: 343px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  gap: 10px;
  border-radius: 8px;
  border-width: 1px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #222222;
}

#accept-cookies {
  background: #b872d1;
  color: #ffffff;
  border: none;
}

.e-b-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1210px) {
  .e-b-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .e-b-cookie-popup-text-two {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    width: 704px;
  }

  .e-b-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .e-b-cookie-button {
    width: 184px;
    padding-top: 16px;
    padding-right: 0px;
    padding-bottom: 16px;
    padding-left: 0px;
    gap: 10px;
    border-radius: 8px;
    border-width: 1px;
  }
  .e-b-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
}
